@model com.study.core.model.TblSurvey

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblSurvey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseBl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseBl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmsMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmsMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngQuotaBl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngQuotaBl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Callback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Callback)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseListCountBl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseListCountBl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CssStyleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CssStyleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseQuotaAccessBl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseQuotaAccessBl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SurveyNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
