@using com.study.core.model;
@using com.study.core.web.Pagination;
@using PagedList.Core;
@using PagedList.Core.Mvc;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, PagedList.Core.Mvc

@*model IEnumerable<com.study.core.model.TblSurvey>*@

@model PagedList<TblSurvey>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string query = ViewBag.Query ?? "";
    int page = Model.PageNumber;
}


<h1>Index</h1>

<p>
    <a asp-action="Create">등록</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Index", "TblSurveys", new { page = page, sort = 1, query = query })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().UseBl)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().SmsMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().IngQuotaBl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().LastDay)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Callback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Url)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().Description)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().LogoFile)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().UseListCountBl)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().CssStyleName)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().UseQuotaAccessBl)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().LogoWidth)
            </th>
            <th class="column_hide">
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().LogHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToList().FirstOrDefault().SurveyYear)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UseBl)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.SmsMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IngQuotaBl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastDay)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.Callback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.LogoFile)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.UseListCountBl)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.CssStyleName)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.UseQuotaAccessBl)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.LogoWidth)
                </td>
                <td class="column_hide">
                    @Html.DisplayFor(modelItem => item.LogHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyYear)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SurveyNo">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SurveyNo">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SurveyNo">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<pager class="pager-container" list="@Model" options="@SitePagedListRenderOptions.Boostrap4" asp-action="Index" asp-controller="TblSurveys" asp-route-query="@query" />