@model com.study.core.model.TblList

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TblList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="TblLists">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyNo" />
            <input type="hidden" asp-for="ListNo" />
            <div class="form-group">
                <label asp-for="CellNum" class="control-label"></label>
                <input asp-for="CellNum" class="form-control" />
                <span asp-validation-for="CellNum" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FinishBl" /> @Html.DisplayNameFor(model => model.FinishBl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IngBl" /> @Html.DisplayNameFor(model => model.IngBl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RefusalBl" /> @Html.DisplayNameFor(model => model.RefusalBl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QuotaOverBl" /> @Html.DisplayNameFor(model => model.QuotaOverBl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="StopBl" /> @Html.DisplayNameFor(model => model.StopBl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EndCode" class="control-label"></label>
                <input asp-for="EndCode" class="form-control" />
                <span asp-validation-for="EndCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateCode" class="control-label"></label>
                <input asp-for="StateCode" class="form-control" />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col01" class="control-label"></label>
                <input asp-for="Col01" class="form-control" />
                <span asp-validation-for="Col01" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col02" class="control-label"></label>
                <input asp-for="Col02" class="form-control" />
                <span asp-validation-for="Col02" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col03" class="control-label"></label>
                <input asp-for="Col03" class="form-control" />
                <span asp-validation-for="Col03" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col04" class="control-label"></label>
                <input asp-for="Col04" class="form-control" />
                <span asp-validation-for="Col04" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col05" class="control-label"></label>
                <input asp-for="Col05" class="form-control" />
                <span asp-validation-for="Col05" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Col06" class="control-label"></label>
                <input asp-for="Col06" class="form-control" />
                <span asp-validation-for="Col06" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestCount" class="control-label"></label>
                <input asp-for="QuestCount" class="form-control" />
                <span asp-validation-for="QuestCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
