@model com.study.core.model.TblOption

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblOption</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InputValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InputValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Open)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Open)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TblQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TblQuestion.QtCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
