@using System;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    int surveyno = ViewData["surveyno"] == null  ? 0 : Convert.ToInt32(ViewData["surveyno"]);

    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();

    string activelabel = "active";

    var menus = com.study.core.web.menu.MenuItem.CreateMenus();

}



<div class="vertical-menu">

   
    @foreach (var menu in menus)
    {
        @if (menu.IsTop)
        {
            <a asp-action="index" asp-controller="@menu.Controller" class='@if (controllerName.Equals(menu.Controller))  { @activelabel} '>@menu.Label</a>
        }
        else
        {
            if (ViewData["surveyno"] != null)
            {
                <a asp-route-surveyno="@surveyno" asp-action="Index" asp-controller="@menu.Controller" class='@if (controllerName.Equals(menu.Controller)){ @activelabel} '>@menu.Label</a>
            }
        }
    }
  </div>