@using System;
@using com.study.core.web.menu;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{


    //if(ViewData["surveyno"]== null ) throw new Exception("필수 파라미터 누락");

    int surveyno = ViewData["surveyno"] == null ? 0 : Convert.ToInt32(ViewData["surveyno"]);

    string controllerName = ViewContext.RouteData.Values["Controller"].ToString();

    string activelabel = "active";

    List<MenuItem> menus = null;

    var activemenu = com.study.core.web.menu.MenuItem.GetMenu(controllerName);
    if (activemenu != null)
    {
        menus = com.study.core.web.menu.MenuItem.GetCategoryMenus(activemenu);
    }
}

<div class="vertical-menu">

   @if (menus != null)
   {
    @foreach (var menu in menus)
    {
        @if (menu.IsTop)
        {
            <a asp-action="index" asp-controller="@menu.Controller" class='@if (controllerName.Equals(menu.Controller))
            { @activelabel} '>@menu.Label</a>
        }
        else
        {
            if (ViewData["surveyno"] != null)
            {
                <a asp-route-surveyno="@surveyno" asp-action="Index" asp-controller="@menu.Controller" class='@if (controllerName.Equals(menu.Controller))
                { @activelabel} '>@menu.Label</a>
            }
        }
    }
   }
  </div>